<div class="ad box p-a-sm m-b-md no-ul">
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=bitsofcode" id="_carbonads_js"></script>
</div>